@use "../../../styling/" as *;

.top-banner-container {
    background: linear-gradient(45deg, #f200ff 0%, #ffba42 100%);
}

.banner-container {
    max-height: 670px;
    padding: 3rem 0.5rem;
    h1 {
        margin: 0;
        font-size: 10vw;
        font-weight: 700;
        color: rgb(255 255 255);
        margin-bottom: 20px;
    }
    p {
        color: rgb(255 255 255);
        font-size: 0.9rem;
        @include md {
            font-size: 1.1rem;
        }
    }
    @include xxl {
        height: 670px;
        padding: 0;
    }
}
