@use "../../../styling/" as *;

.navbar-container {
    padding: 1rem 0;
    background-color: white;
}

#nav-logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.logo-color {
    color: #ffc73f;
}

.nav-items {
    gap: 10px;
    font-size: 1.1rem;
    align-items: flex-start;
}

.navbar-toggle {
    box-shadow: none !important;
}

.active-nav {
    color: #ffc73f !important;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #ffc73f;
    cursor: pointer;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3.5px;
    bottom: 0;
    left: 0;
    background-color: #ffc73f;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
